#Exclude conf files generated when canari package installed, not the main conf file though
*.conf
.idea/*

#Exclude python autosave and complied files
*.pyc
*.py~

vagrant/.vagrant/*

.DS_Store
static/uploads/*