</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ajax-submit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spin.min.js')}}"></script>
    <div class="footer">
            <div class="container">
                <div class="text-center">
                    <p class="muted credit">Web Interface for <a href="http://sniffmypackets.net">sniffMyPackets</a>
                        Created by <a href="http://itgeekchronicles.co.uk" target="_blank">Adam Maxwell</a>.</p>
                </div>
            </div>
        </div>
  </body>
</html>