<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sniffMyPackets - Web Interface</title>
    <div class="masthead"></div>
  </head>
  <body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.css">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Summary <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/pcap/dns"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> DNS</a></li>
            <li><a href="/pcap/artifacts"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Artifacts</a></li>
            <li><a href="/pcap/artifacts"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Uploaded Files</a></li>
            <li><a href="/pcap/http"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> HTTP</a></li>
            <li><a href="/pcap/packets"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Packets</a></li>
            <li><a href="/pcap/creds"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Credentials</a></li>
            <li><a href="/pcap/ssl"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> SSL</a></li>
            <li><a href="/pcap/geo"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Geo IP</a></li>
            <li><a href="/pcap/streams"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> TCP/UDP Streams</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Support <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/about">About</a></li>
            <li><a href="/logs">Error Logs</a></li>
            <li><a href="https://github.com/SneakersInc/sniffmypacketsv2-web/issues">Report and issue</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">