<title>sniffMyPackets - Web Interface</title>
        <div class="masthead"></div>
<nav class="navigation-bar light">
    <nav class="navigation-bar-content">
        <div class="element">
            <a href="/"><i class="icon-home"></i> Home</a>
        </div>
        <span class="element-divider"></span>
         <div class="element">
            <a href="/pcap/streams"><i class="icon-database"></i> TCP/UDP Streams</a>
         </div>
        <span class="element-divider"></span>
        <div class="element">
            <a href="/pcap/dns"><i class="icon-eye-2"></i> DNS Traffic</a></li>
        </div>
        <span class="element-divider"></span>
        <div class="element">
            <a href="/pcap/http"><i class="icon-link"></i> HTTP Traffic</a></li>
        </div>
        <span class="element-divider"></span>
        <div class="element">
            <a href="/pcap/ssl"><i class="icon-locked"></i> SSL Traffic</a></li>
        </div>
        <span class="element-divider"></span>
        <div class="element">
            <a href="/pcap/geo"><i class="icon-globe"></i> GeoIP Info</a></li>
        </div>
        <span class="element-divider"></span>
        <div class="element">
            <a href="/pcap/artifacts"><i class="icon-pictures"></i> Artifacts</a></li>
        </div>
        <span class="element-divider"></span>
        <div class="element">
            <a href="/pcap/dodgy"><i class="icon-alarm"></i> Dodgy Stuff</a></li>
        </div>
        <span class="element-divider"></span>
        <div class="element">
            <a href="/pcap/creds"><i class="icon-locked"></i> Credentials</a></li>
        </div>
        <span class="element-divider"></span>
        <div class="element">
            <a href="/pcap/uploadfiles"><i class="icon-book"></i> Uploaded Files</a></li>
        </div>
        <span class="element-divider"></span>
        <span class="element-divider place-right"></span>
        <a class="element place-right" href="#"><span class="icon-cog"></span></a>
        <span class="element-divider place-right"></span>
        <div class="element place-right input-element">
            <form>
                <div class="input-control text">
                    <input type="text" placeholder="Search...">
                    <button class="btn-search"></button>
                </div>
            </form>
        </div>
    </nav>
</nav>