{% extends "subpages.html" %}
   {% block content %}

        <table data-toggle="table"
                data-search="true"
                data-show-refresh="true"
                data-show-toggle="true"
                data-show-columns="true"
                data-classes="table table-hover table-condensed"
                data-striped="true"
                data-pagination="true"
                >
    <thead>
        <tr>
        <th class="text-center">PCAP ID</th>
        <th class="text-center">Stream ID</th>
        <th class="text-center">Time Stamp</th>
        <th class="text-center">DNS Type</th>
        <th class="text-center">Source IP</th>
        <th class="text-center">Destination IP</th>
        <th class="text-center">DNS Query Name</th>
       </tr>
   </thead>
   <tbody>
    {% for p in records %}
    <tr>
            <td class="text-center"><a href="/pcap/{{ p['PCAP ID'] }}">{{ p['PCAP ID'] }}</a></td>
            <td class="text-center"><a href="/pcap/{{ p['PCAP ID'] }}/{{ p['Stream ID'] }}/packets">{{ p['Stream ID'] }}</a></td>
            <td class="text-center">{{ p['Time Stamp'] }}</td>
            <td class="text-center">{{ p['Type'] }}</td>
            <td class="text-center"><a href="/pcap/{{ p['PCAP ID'] }}/iplookup/{{ p['IP']['src'] }}">{{ p['IP']['src'] }}</a></td>
            <td class="text-center"><a href="/pcap/{{ p['PCAP ID'] }}/iplookup/{{ p['IP']['dst'] }}">{{ p['IP']['dst'] }}</a></td>
            <td class="text-center">{{ p['Request Details']['Query Name'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
   </table>
    {% endblock %}
