{% extends "sumpages.html" %}
   {% block content %}
    <table data-toggle="table"
                data-show-refresh="true"
                data-search="true"
                data-show-refresh="true"
                data-show-toggle="true"
                data-show-columns="true"
                data-classes="table table-hover table-condensed"
                data-striped="true"
                data-pagination="true"
                >
    <thead>
        <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Protocol</th>
        <th class="text-center">Source IP</th>
        <th class="text-center">Source Port</th>
        <th class="text-center">Source Country</th>
        <th class="text-center">Destination IP</th>
        <th class="text-center">Destination Port</th>
        <th class="text-center">Destination Country</th>
       </tr>
   </thead>
   <tbody>
    {% for p in records %}
    <tr>
            <td class="text-center"><a href="/pcap/{{ p['PCAP ID'] }}">{{ p['PCAP ID'] }}</a></td>
            <td class="text-center">{{ p['Protocol'] }}</td>
            <td class="text-center">{{ p['src'] }}</td>
            <td class="text-center">{{ p['src port'] }}</td>
            <td class="text-center">{{ p['src geo']['country_name'] }}</td>
            <td class="text-center">{{ p['dst'] }}</td>
            <td class="text-center">{{ p['dst port'] }}</td>
            <td class="text-center">{{ p['dst geo']['country_name'] }}</td>
        </tr>
    {% endfor %}
{% endblock %}
   </tbody>
   </table>