
    {% include "partials/header.html" %}
      {% block content %}
        <table data-toggle="table"
                data-search="true"
                data-show-refresh="true"
                data-show-toggle="true"
                data-show-columns="true"
                data-classes="table table-hover table-condensed"
                data-striped="true"
                data-pagination="true"
                >
            <thead>
                <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Upload Time</th>
                <th class="text-center">PCAP Path</th>
                <th class="text-center">File Size</th>
                <th class="text-center">Comments</th>
                <th class="text-center">MD5 Hash</th>
               </tr>
           </thead>
           <tbody>

        {% for p in pcaps %}
            <tr>
                <td class="text-center"><a href="/pcap/{{ p['PCAP ID'] }}">{{ p['PCAP ID'] }}</a></td>
                <td class="text-center">{{ p['Upload Time'] }}</td>
                <td class="text-center">{{ p['PCAP Path'] }}</td>
                <td class="text-center">{{ p['File Size'] }}</td>
                <td class="text-center">{{ p['Comments'] }}</td>
                <td class="text-center">{{ p['MD5 Hash'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
       </table>
    {% endblock %}
    {% include "partials/footer.html" %}