{% extends "layout.html" %}
       {% block content %}
        <table class="table table-striped">
        <thead>
            <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Time Stamp</th>
            <th class="text-center">HTTP Type</th>
            <th class="text-center">Source IP</th>
            <th class="text-center">Destination IP</th>
            <th class="text-center">Method</th>
            <th class="text-center">Host</th>


           </tr>
       </thead>
       <tbody>
        {% for p in records %}
        <tr>
                <td class="text-center"><a href="/pcap/{{ p['PCAP ID'] }}">{{ p['PCAP ID'] }}</a></td>
                <td class="text-center">{{ p['Time Stamp'] }}</td>
                <td class="text-center">{{ p['Type'] }}</td>
                <td class="text-center">{{ p['IP']['src'] }}</td>
                <td class="text-center">{{ p['IP']['dst'] }}</td>
                <td class="text-center">{{ p['HTTP']['Method'] }}</td>
                <td class="text-center">{{ p['HTTP']['Host'] }}</td>
            </tr>
        {% endfor %}
    {% endblock %}
       </tbody>
       </table>