{% extends "subpages.html" %}
   {% block content %}
    <table class="table hovered" id="logs">
    <thead>
        <tr>
        <th class="text-center">Time Stamp</th>
        <th class="text-center">Module</th>
        <th class="text-center">Error Message</th>
       </tr>
   </thead>
   <tbody>
    {% for p in records %}
    <tr>
            <td class="text-center">{{ p['TimeStamp'] }}</td>
            <td class="text-center">{{ p['Module'] }}</td>
            <td class="text-center">{{ p['Error Message'] }}</td>
        </tr>
    {% endfor %}
    {% endblock %}
   </tbody>
   </table>