{% extends "subpages.html" %}
   {% block content %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <div class="panel-body">
    <div id="map" style="width:100%; height: 330px"></div>
    <script>

        var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
				maxZoom: 18,
				attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
			}),
			latlng = L.latLng('51.5081','0.0761', 6);

		var map = L.map('map', {center: latlng, zoom: 3, layers: [tiles]});

        planes = [
        {% for g in geo %}
            ["<b>Source IP: </b><a href='/pcap/{{ pcapid }}/iplookup/{{ g['src'] }}'>{{ g['src'] }}</a><br>Source Port: {{ g['src port'] }}<br>Protocol: {{ g['Protocol'] }}</b>",
            {{ g['src geo']['latitude'] }}, {{ g['src geo']['longitude'] }}],
            {% endfor %}
            ];


        for (var i = 0; i < planes.length; i++) {
			marker = new L.marker([planes[i][1],planes[i][2]])
				.bindPopup(planes[i][0])
				.addTo(map);
		}


    </script>
    </div>
  {% endblock %}