{% extends "subpages.html" %}
   {% block content %}
    <table class="table hovered" id="packets">
    <thead>
        <tr>
        <th class="text-center">PCAP ID</th>
        <th class="text-center">Packet Number</th>
        <th class="text-center">Time Stamp</th>
        <th class="text-center">Source</th>
        <th class="text-center">Destination</th>
        <th class="text-center">Protocol</th>
        <th class="text-center">Length</th>
        <th class="text-center">Info</th>
        <th class="text-center">View</th>
       </tr>
   </thead>
   <tbody>
    {% for p in records %}
    <tr>
            <td class="text-center"><a href="/pcap/{{ p['Buffer']['PCAPID'] }}">{{ p['Buffer']['PCAPID'] }}</a></td>
            <td class="text-center">{{ p['Buffer']['packetnumber'] }}</td>
            <td class="text-center">{{ p['Buffer']['timestamp'] }}</td>
            <td class="text-center">{{ p['IP']['ip_src'] }}</td>
            <td class="text-center">{{ p['IP']['ip_dst'] }}</td>
            <td class="text-center">{{ p['Layers'][2] }}</td>
            <td class="text-center">{{ p['Buffer']['packet_length'] }}</td>
            <td class="text-center">{{ p['Layers'][3] }}</td>
            <td class="text-center"><a href="{{ p['View'] }}" target="_blank">Here</a></td>
        </tr>
    {% endfor %}
    {% endblock %}
   </tbody>
   </table>