{% extends "map.html" -%}
{% block source %}
        {% for g in geomap %}
            ["<b>Source IP: {{ g['src'] }}<br>Source Port: {{ g['src port'] }}<br>Protocol: {{ g['Protocol'] }}</b>",
            {{ g['src geo']['latitude'] }}, {{ g['src geo']['longitude'] }}],

            ["<b>Destination IP: {{ g['dst'] }}<br>Destination Port: {{ g['dst port'] }}<br>Protocol: {{ g['Protocol'] }}</b>",
            {{ g['dst geo']['latitude'] }}, {{ g['dst geo']['longitude'] }}],
        {% endfor %}
{% endblock %}

{% block lines %}
    {% for l in line %}
        ['{{ l['src geo']['latitude'] }},{{ l['src geo']['longitude'] }}','{{ l['dst geo']['latitude'] }}, {{ l['dst geo']['longitude'] }}'],
    {% endfor %}
{% endblock %}