
    {% include "partials/header.html" %}
      <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/pcap/{{ pcapid }}">Overview</a></li>
            <li role="presentation"><a href="/pcap/{{ pcapid }}/streams">Streams</a></li>
            <li role="presentation"><a href="/pcap/{{ pcapid }}/packets">Packets</a></li>
            <li role="presentation"><a href="/pcap/{{ pcapid }}/artifacts">Artifacts</a></li>
            <li role="presentation"><a href="/pcap/{{ pcapid }}/dns">DNS</a></li>
            <li role="presentation"><a href="/pcap/{{ pcapid }}/http">HTTP</a></li>
            <li role="presentation"><a href="/pcap/{{ pcapid }}/creds">Credentials</a></li>
            <li role="presentation"><a href="/pcap/{{ pcapid }}/geo">GeoIP</a></li>
            <li role="presentation"><a href="/pcap/{{ pcapid }}/ssl">SSL</a></li>
            <li role="presentation"><a href="/pcap/{{ pcapid }}/uploadfiles">Uploaded Files</a></li>
        </ul>
      {% block content %}
      {% endblock %}
    {% include "partials/footer.html" %}