{% extends "subpages.html" %}
    {% block content %}
    <div class="grid fluid">
        <div class="row">
            <div class="span8">
                <div class="panel">
                    <div class="panel-header">
                    PCAP Details
                    </div>
                <div class="panel-content">
                    {% for p in records %}
                    <b>File Name:</b> {{ p['PCAP Path'] }}</br>
                    <b>PCAP ID:</b> {{ p['PCAP ID'] }}</br>
                    <b>Working Directory:</b> {{ p['Working Directory'] }}</br>
                    <b>Upload Date/Time:</b> {{ p['Upload Time'] }}</br>
                    <b>Comments:</b> {{ p['Comments'] }}</br></br>
                    <b>Packet Count:</b> {{ p['Packet Count'] }}</br>
                    <b>First Packet:</b> {{ p['First Packet'] }}</br>
                    <b>Last Packet:</b> {{ p['Last Packet'] }}</br></br>
                    <b>MD5 Hash:</b> {{ p['MD5 Hash'] }}</br>
                    <b>SHA1 Hash:</b> {{ p['SHA1 Hash'] }}</br>
                    {% endfor %}
                </div>
                </div>
            </div>
        {% endblock %}
        {% block content2 %}
            <div class="span3">
                <div class="panel">
                    <div class="panel-header">
                        Packet Details
                    </div>
                    <div class="panel-content">
                        <b>HTTP:</b> {{ http }}<a href="/pcap/{{ pcapid }}/http"><i class="icon-search fg-red on-right"></i></a></br>
                        <b>DNS:</b> {{ dns }}<a href="/pcap/{{ pcapid }}/dns"><i class="icon-search fg-red on-right"></i></a></br>
                        <b>TCP/UDP Streams:</b> {{ streams }}<a href="/pcap/{{ pcapid }}/streams"><i class="icon-search fg-red on-right"></i></a></br>
                        <b>Artifacts:</b> {{ files }}<a href="/pcap/{{ pcapid }}/artifacts"><i class="icon-search fg-red on-right"></i></a></br>
                        <b>Credentials:</b> {{ creds }}<a href="/pcap/{{ pcapid }}/creds"><i class="icon-search fg-red on-right"></i></a></br>
                    </div>
                </div>
            </div>
        {% endblock %}
        </div>
    </div>
