{% extends "subpages.html" %}
   {% block content %}
    <table class="table hovered" id="uploads">
    <thead>
        <tr>
        <th class="text-center">PCAP ID</th>
        <th class="text-center">File Name</th>
        <th class="text-center">File Type</th>
        <th class="text-center">Upload Time</th>
        <th class="text-center">MD5 Hash</th>
        <th class="text-center">Download</th>
       </tr>
   </thead>
   <tbody>
    {% for p in records %}
    <tr>
            <td class="text-center"><a href="/pcap/{{ p['PCAP ID'] }}">{{ p['PCAP ID'] }}</a></td>
            <td class="text-center">{{ p['File Name'] }}</a></td>
            <td class="text-center">{{ p['File Type'] }}</td>
            <td class="text-center">{{ p['Upload Time'] }}</td>
            <td class="text-center">{{ p['MD5 Hash'] }}</td>
            <td class="text-center"><a href="{{ p['Download'] }}"><i class="icon-rocket"></i></a></td>
        </tr>
    {% endfor %}
    {% endblock %}
   </tbody>
   </table>